.feature{
    ul{
        display: flex;
        padding: 0 $space-l;
        @include pad(){
            padding: 0 $space-m;
            flex-direction: column;
            align-items: center;
        }
    }
    .title{
        margin-bottom: $space-m;
        &::before,&::after{
            content: "";
            width: 150px;
            height: 1px;
            background: $primary;
            margin: 1rem;
            @include phone(){
                width: 0;
                height: 0;
            }
        }
    }
    li{
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include pad(){
            width: 80%;
            margin-bottom: $space-m;
        }
        @include phone(){
            width: 100%;
        }
    }
    .sub-title{
        margin-bottom: 1rem;
    }
}
.feature-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.chef{
    background: $primary;
    padding: 0 $space-m;
    @include phone(){
        padding: 0;
    }
}
.chef-inner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pad(){
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    @include phone(){
        width: 100%;
    }
}
.chef-img{
    width: 52%;
    height: 460px;
    margin-right: 2%;
    background-position: center center;
    background-size: cover;
    @include pad(){
        width: 100%;
        margin: 0;
    }
}
.chef-info{
    width: 45%;
    color: $background;
    @include pad(){
        width: 100%;
        padding: $space-m;
    }
    h4{
        margin-bottom: 1rem;
    }
    .sub-title{
        color: $background;
    }
}


.feedback{
    padding: 0 $space-l;
    @include phone(){
        padding: 0 0.62rem;
    }
    .title{
        margin-bottom: $space-m;
    }
    ul{
        @include pad(){
            flex-direction: column;
            align-items: center;
        }
    }
    li{
        display: flex;
        @include pad(){
            width: 100%;
        }
    }
    .profile{
        min-width: 67px;
        height: 67px;
        border-radius: 50%;
    }
}
.feedback-content{
    max-width: 225px;
    padding: 0 1rem;
    @include pad(){
        width: 100%;
    }
    @include pad(){
        max-width: none;
    }
    .sub-title{
        line-height: 63px;
    }
    p{
        margin-bottom: 1rem;
    }
    span{
        display: block;
        text-align: right;
    }
}

.reserve{
    padding: $space-l $space-m;
    background: rgba(250,250,250,0.70);
    @include phone(){
        padding: $space-l 0.62rem;
    }
    .title{
        margin-bottom: $space-m;
    }
    form{
        width: 45%;
        display: flex;
        flex-direction: column;
        @include phone(){
            width: 100%;
        }
    }
}
.reserve-inner{
    display: flex;
    justify-content: center;
    @include phone(){
        flex-direction: column;
        align-items: center;
    }
    label{
        color: $primary;
        font-size: 0.875rem;
        margin-bottom: 0.375rem;
    }
    input[type="text"],input[type="number"]{
        width: 100%;
        padding: 0.315rem 1rem;
        margin-bottom: 1rem;
    }
    .btn{
        padding: 0.375rem 1rem;
    }
}
.map{
    width: 50%;
    height: 388px;
    margin-right: 1rem;
    background-size: cover;
    @include phone(){
        width: 100%;
        margin-bottom: $space-m;
        margin-right: 0;
    }
}
.reserve-submit{
    display: flex;
    justify-content: flex-end;
}
.cancel{
    background: $gray;
    margin-right: 0.62rem;
}
.cancel:hover{
    background: $gray-dark;
}
.submit{
    background: $secondary;
}
.submit:hover{
    background: $secondary-dark;
}