.product{
    padding: 0 $space-l;
    margin-bottom: $space-l;
    @include pad(){
        padding: 0 $space-s;
    }
    @include phone(){
        flex-direction: column;
        padding: 0 0.62rem;
    }
}
.product-menu{
    width: 25%;
    min-width: 200px;
    margin-right: $space-s;
    @include phone(){
        width: 100%;
        margin-bottom: $space-m;
    }
    i{
        font-size: 2rem;
        margin-right: 1rem;
    }
    .sub-title{
        margin-bottom: $space-s;
    }
    a{
        color: $primary;
        display: block;
        width: 100%;
        line-height: 2;
        padding: 0 0.625rem;
        border-bottom: 1px solid $primary;
    }
    a:hover{
        color: $white;
        background: $primary;
    }
    .active{
        color: $white;
        background: $primary;
    }
}
.search-bar{
    align-items: center;
    margin-bottom: $space-m;
    @include phone(){
        display: flex;
        flex-direction: column;
    }
    form{
        width: 70%;
        display: flex;
        @include pad(){
            width: 50%;
        }
        @include phone(){
            width: 100%;
            margin-bottom: $space-s;
        }
    }
    input{
        width: 90%;
        max-width: 460px;
        padding: 0.375rem 1rem;
        border: 2px solid $primary;
        background: $background;
        margin-right: -2px;
    }
    button{
        background: $primary;
        cursor: pointer;
    }
    i{
        color: $white;
        font-size: $fz-m;
    }
    span{
        color: $primary;
        font-size: $fz-m;
    }
}
.go-cart{
    align-items: center;
    @include phone(){
        width: 100%;
        justify-content: flex-end;
    }
    a{
        color: $primary;
        display: block;
    }
    a:not(.cart){
        padding-right: $space-s;
    }
    a:not(.cart):hover{
        text-decoration: underline;
    }
    .cart{
        border-left: 3px solid $primary;
    }
    i{
        color: $primary;
        font-size: 2rem;
        padding: 0 $space-s;
        position: relative;
    }
    i:hover{
        color: $primary-light;
    }
    span{
        display: inline-block;
        color: $white;
        font-size: 1rem;
        text-align: center;
        background: $secondary;
        border-radius: 50rem;
        padding: 0.1rem 0.325rem;
        position: absolute;
        top: -0.625rem;
        right: 0.625rem;
    }
}
.product-list{
    width: 70%;
    @include pad(){
        width: 100%;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li{
        width: 30%;
        box-shadow: 0.1875rem 0.1875rem 0.25rem 0px rgba(0,0,0,0.16);
        position: relative;
        margin: 0 0.62rem $space-m 0.62rem;
        @media (max-width: 950px) {
            width: 45%;
        } 
        @media (max-width: 652px) {
            width: 100%;
        } 
        span{
            font-size: 0.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        span::after{
            content: "";
            width: 50%;
            height: 1px;
            background: $primary;
            margin-top: 0.5rem;
            margin-bottom: $space-s;
        }
    }
    .btn{
        width: 100%;
        color: $secondary;
        background: transparent;
        border: 2px solid $secondary;
        @include phone(){
            width: 100%;
        }
        i{
            margin-right: 0.62rem;
        }
    }
    .btn:hover{
        color: $white;
        background: $secondary;
    }
}
.product-img{
    height: 120px;
    background-position: center center;
    position: relative;
}
.like{
    color: $white;
    font-size: 1.25rem;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
}
.like :hover{
    font-weight: 900;
}
.hot-tag-wrapper{
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    right: -5px;
}
.hot-tag{
    width: 160px;
    color: $white;
    text-align: center;
    background: #00CC99;
    transform: rotate(45deg);
    position: relative;
    top: 25px;
    left: -25px;
    &::before{
        content: "";
        box-sizing: content-box;
        border-top: 5px solid #006149;
        border-left: 5px solid transparent;
        border-right: 4px solid transparent;
        position: absolute;
        top: 23.8px;
        left: 15px;
    }
    &::after{
        content: "";
        box-sizing: content-box;
        border-top: 5px solid #006149;
        border-left: 5px solid transparent;
        border-right: 4px solid transparent;
        position: absolute;
        top: 23.8px;
        left: 133px;
    }
}
.product-info{
    text-align: center;
    padding: 0.62rem;
}
.product-price{
    font-weight: bold;
    margin-bottom: $space-s;
}


