$primary: #3D1101;
$primary-light: #735347;
$secondary: #FF5E45;
$secondary-dark: #dc621f;
$background: #EFE9E7;
$gray: rgba(0,0,0,0.35);
$gray-dark: rgba(0,0,0,0.5);
$white: #fff;
$black: #000;

$space-s: 1.25rem; 
$space-m: 1.875rem;
$space-l: 3.125rem;

$fz-s: 1rem; 
$fz-m: 1.125rem;
$fz-l: 1.5rem;